<% @page_title = "Contacto" %>

<div id="page-wrapper">

<!-- Main -->
	<article id="main">

		<header class="special container">
			<span class="icon solid fa-envelope"></span>
			<h2>Hablemos</h2>
			<p>Escribe tu mensaje y nos pondremos en contacto contigo.</p>
		</header>

		<!-- One -->
			<section class="wrapper style4 special container medium">

				<!-- Content -->
					<div class="content">
						<p>Formulario no disponible por el momento.</p>
					</div>

			</section>

	</article>
</div>