<% @page_title = "Contacto" %>

<div id="page-wrapper">

<!-- Main -->
	<article id="main">

		<header class="special container">
			<span class="icon solid fa-envelope"></span>
			<h2>Hablemos</h2>
			<p>Escribe tu mensaje y nos pondremos en contacto contigo.</p>
		</header>

		<!-- One -->
			<section class="wrapper style4 special container medium">

				<!-- Content -->
					<div class="content">
						<form action="https://submit-form.com/ezIQyeoR">
							<div class="row gtr-50">
								<div class="col-6 col-12-mobile">
									<input type="text" name="name" placeholder="Nombre" required="" />
								</div>
								<div class="col-6 col-12-mobile">
									<input type="email" name="email" placeholder="Email" required="" />
								</div>
								<div class="col-6 col-12-mobile">
									<input type="text" name="city" placeholder="Ciudad" required="" />
								</div>
								<div class="col-6 col-12-mobile">
									<input type="text" name="phone" placeholder="Teléfono" required="" />
								</div>
								<div class="col-12">
									<textarea name="message" placeholder="Mensaje" rows="7" required=""></textarea>
								</div>
								<div class="col-12">
									<ul class="buttons">
										<li><input type="submit" class="special" value="Enviar" /></li>
									</ul>
								</div>
							</div>
							<input type="hidden" name="_feedback.success.title" value="Recibimos tu mensaje" />
							<input type="hidden" name="_feedback.success.message" value="Pronto nos pondremos en contacto contigo" />
							<input type="hidden" name="_feedback.error.title" value="¡Ups! Algo salió mal..." />
							<input type="hidden" name="_feedback.error.message" value="Inténtalo de nuevo" />
						</form>
					</div>

			</section>

	</article>
</div>