<footer id="footer">
  <ul class="icons">
    <li><a href="https://facebook.com/ungranitodetierra" class="icon brands circle fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="https://instagram.com/ungranitodetierra" class="icon brands circle fa-instagram" style="background-color: #cd486b; opacity: 0.6;"><span class="label">Instagram</span></a></li>
  </ul>

  <ul class="copyright">
    <li>&copy; <%= Date.today.year %> Un Granito de Tierra, A.C.</li><li>Plantilla: <a href="http://html5up.net">HTML5 UP</a></li>
  </ul>
</footer>